@tailwind base;
@tailwind components;
@tailwind utilities;

.text-xsm{font-size: 12px;}

.shadows{
    box-shadow: 0px 0px 10px 0px rgba(181,181,181,0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(181,181,181,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(181,181,181,0.75);
}

.shadow2{
    box-shadow: 2px 0px 15px 1px rgba(181,181,181,0.11);
    -webkit-box-shadow: 2px 0px 15px 1px rgba(181,181,181,0.11);
    -moz-box-shadow: 2px 0px 15px 1px rgba(181,181,181,0.11);
}

*{margin: 0;padding: 0;box-sizing: border-box;font-family: 'Poppins', sans-serif;}

.heightPage{
    height: calc(100vh - 64px);
}

/* CSS */
::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
    background-color: rgba(128, 128, 128, 0.5); /* Gray light opacity background */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.5); /* Blue color for the scrollbar thumb */
    border-radius: 5px; /* Rounded corners for the scrollbar thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(128, 128, 128, 0.223); /* Darker blue color on hover */
  }

  @media (min-width: 300px) {
    body.Sidebar-collapse .aside-sidebar {
      transform: translateX(0);
      position: fixed;
      left: 0;
      visibility: visible;
      display: block;
      z-index: 50;
      background: white;
      transition: all 3s ease-in-out cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }
  